<link rel="stylesheet" href="styles/reglement.css" type="text/css">
</head>

<body>
  <div class="container">
    <div class="product-presentation">
      <h1>Les Loups-Garous de Thiercelieux</h1>
      <p>Les Loups-Garous de Thiercelieux est un jeu de société d'ambiance, dans lequel les joueurs doivent démasquer
        les loups-garous qui se cachent parmi eux. Le jeu se déroule en plusieurs tours, durant lesquels les joueurs
        peuvent discuter entre eux pour tenter de découvrir l'identité des loups-garous, ou pour se disculper eux-mêmes.
        Chaque nuit, les loups-garous choisissent une personne à tuer, et chaque jour, les joueurs votent pour décider
        qui ils soupçonnent d'être un loup-garou, et cette personne est éliminée du jeu. Le jeu se termine lorsque les
        loups-garous ont tué tous les villageois, ou lorsque les villageois ont tué tous les loups-garous.</button>

    </div>

  </div>
  </div>
  <section id="gallery">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 mb-4">
          <div class="card">
            <img src="images/carte2.png" alt="" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">Les LOUPS-GAROUS</h5>
              <p class="card-text">Chaque nuit, ils dévorent
                un Villageois.
                Le jour, ils essaient de
                masquer leur identité
                nocturne pour échapper
                à la vindicte populaire. Ils sont 1 à 6 suivant
                le nombre de joueurs et
                les variantes appliquées. (Voir notre extension numéro 1 “Nouvelle Lune”).
                En aucun cas un Loup-Garou ne peut dévorer
                un autre Loup-Garou.</p>

            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-4">
          <div class="card">
            <img src="images/carte1.png" alt="" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">le Simple Villageois</h5>
              <p class="card-text">Il n’a aucune compétence particulière. Ses seules armes sont
                la capacité d’analyse des comportements pour identifier les Loups- Garous, et la force de
                conviction pour empêcher
                l’exécution de l’innocent
                qu’il est.</p>

            </div>
          </div>
        </div>


        <div class="col-lg-4 mb-4">
          <div class="card">
            <img src="images/carte3.png" alt="" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">la Voyante</h5>
              <p class="card-text">Chaque nuit, elle découvre
                la vraie personnalité d’un
                joueur de son choix.
                Elle doit aider les autres
                Villageois, mais rester
                discrète pour ne pas
                être démasquée par
                les Loups-Garous.</p>

            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-4">
          <div class="card">
            <img src="images/carte5.png" alt="" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">la Sorcière</h5>
              <p class="card-text">Elle sait concocter 2 potions extrêmement
                puissantes : • une potion de guérison, pour ressusciter le joueur tué par les Loups-Garous, • une potion
                d’empoisonnement, utilisée la nuit
                pour éliminer un joueur.
                La Sorcière doit utiliser chaque potion
                1 seule fois dans la partie. Elle peut se
                servir de ses 2 potions la même nuit.
                Le matin suivant l’usage de ce pouvoir,
                il pourra donc y avoir soit 0 mort,
                1 mort ou 2 morts.
                La Sorcière peut utiliser les potions à son profit, et donc se guérir elle-même si elle vient d’être
                attaquée par les Loups-Garous.</p>

            </div>
          </div>
        </div>
      </div>
    </div>
</body>